Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
expatmm.pc
include/config.h
include/config.h.in
include/expatmm.h
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/ExpatMM-version.lo
src/ExpatMM-version.o
src/ExpatXMLFileParser.lo
src/ExpatXMLFileParser.o
src/ExpatXMLParser.lo
src/ExpatXMLParser.o
src/Makefile
src/Makefile.in
src/libexpatmm.la
